@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-Regular.woff') format('woff');
    font-weight: 400;
}
@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-Medium.woff') format('woff');
    font-weight: 500;
}
@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-SemiBold.woff') format('woff');
    font-weight: 600;
}
@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-Bold.woff') format('woff');
    font-weight: 700;
}
@font-face {
    font-family: Inter;
    src: url('../fonts/Inter-ExtraBold.woff') format('woff');
    font-weight: 800;
}

:root {
    --color-yellow-500: #FFB400;
    --color-black-100: #2B2B2B;
    --color-black-200: #18191A;
    --color-gray-100: #767676;
    --color-gray-200: #3A3B3C;
    --color-white-100: #FFFFFF;
    --color-white-200: #F0F0F6;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    scroll-behavior: smooth;
    /* color: var(--color-gray-100, #767676); */
}
.light {
    background: var(--color-white-200);
    color: var(--color-black-100, #2B2B2B);
}
.dark {
    background: #1D232A;
    color: #A6ADBA;
    /* color: white */
}
body {
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    
    /* background: var(--color-body); */
    /* background-color: #fde7f9;
    background-image: linear-gradient(315deg, #fde7f9 0%, #aacaef 74%); */

}

.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 16px;
    margin: 0 auto;
}
a {
    text-decoration: none;
}
ul li {
    list-style-type: none;
}
button {
    all: unset;
    cursor: pointer;
}
footer,section:not(#hero) {
    padding-top: 100px;
}




.practice {
    margin-bottom: 100px;
    border: 1px solid red;
}
.tab-width {
 
 position: relative;
}
.tab__box {
    border: 1px solid red;
    display: flex;
    gap: 10px;
    padding: 10px 0;
    overflow-x: hidden;
    scroll-behavior:smooth;
    width: 500px;
 margin: 0 auto;
}
.tab__box .tab {
    background: #767676;
    color: white;
    padding: 10px;
    cursor: pointer;
}



